@font-face {
  font-family: "Poppins";
  src: url("../Poppins/Poppins-Black.ttf");
  src: url("../Poppins/Poppins-BlackItalic.ttf");
  src: url("../Poppins/Poppins-Bold.ttf");
  src: url("../Poppins/Poppins-BoldItalic.ttf");
  src: url("../Poppins/Poppins-ExtraBold.ttf");
  src: url("../Poppins/Poppins-ExtraBoldItalic.ttf");
  src: url("../Poppins/Poppins-ExtraLight.ttf");
  src: url("../Poppins/Poppins-ExtraLightItalic.ttf");
  src: url("../Poppins/Poppins-Italic.ttf");
  src: url("../Poppins/Poppins-Light.ttf");
  src: url("../Poppins/Poppins-LightItalic.ttf");
  src: url("../Poppins/Poppins-Medium.ttf");
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 p {
  margin: 0;
}

h1 {
  text-align: center;
  margin: 20px 0 20px 0;
  color: #555;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}

.card {
  width: 60%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.card .card-header {
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
}
.card .card-header .group {
  display: flex;
}
.card .card-header .group input {
  width: 70%;
  height: 40px;
  padding: 0 20px;
  font-size: 14px;
  text-transform: capitalize;
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
}
.card .card-header .group .custom-select {
  width: 30%;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
  background-color: #f7f7f7;
}
.card .card-header .group .custom-select select {
  outline: none;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  font-size: 12px;
  border: none;
  background-color: transparent;
  appearance: none;
  position: relative;
  text-transform: capitalize;
  cursor: pointer;
}

.card .card-header .group .custom-select::after {
  content: "";
  color: #fff;
  display: block;
  position: absolute;
  right: 10px;
  top: 15px;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #000 transparent transparent transparent;
  pointer-events: none;
}
.card .card-header .group .image {
  width: 50px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.card .card-header button {
  align-self: center;
  margin-top: 10px;
  background-color: darkslateblue;
  color: #fff;
  border: none;
  width: 200px;
  height: 40px;
  letter-spacing: 2px;
  font-size: 15px;
  cursor: pointer;
  user-select: none;
}

.info {
  width: 50%;
  margin-bottom: 10px;
}
.content {
  width: 100%;
  margin-top: 10px;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.content .header {
  text-align: center;
}
.content .header .image {
  width: 50%;
}
.content .header img {
  max-width: 100%;
  height: auto;
}
.content ul li {
  padding: 0;
}
.content ul li {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
.content ul li h3 {
  margin-right: 10px;
  font-size: 16px;
  color: #222;
  letter-spacing: 1px;
  text-transform: capitalize;
  background-color: #f7f7f7;
  padding: 5px 20px;
  border-radius: 50px 0 0 50px;
  -webkit-border-radius: 50px 0 0 50px;
  -moz-border-radius: 50px 0 0 50px;
  -ms-border-radius: 50px 0 0 50px;
  -o-border-radius: 50px 0 0 50px;
}
.content ul li span {
  color: #555;
}

.error {
  background-color: #f3b9b9e8;
  color: #cf2323;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 14px;
}

@media (max-width: 991px) {
  .card {
    width: 90%;
  }
  .info {
    width: 80%;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 25px;
  }
  .card .card-header .group {
    flex-direction: column;
    width: 100%;
  }
  .card .card-header .group input {
    margin-bottom: 10px;
  }
  .card .card-header .group input,
  .card .card-header .group .custom-select {
    width: 100%;
  }
  .content ul li h3 {
    font-size: 14px;
  }
  .content ul li span {
    font-size: 12px;
  }
}
